:root {
    --body: #FFFFFF;
    --background: #BBBBBB;
    --text: #111111;
    --svg: 0;
    --link: #111111;
}
[theme="dark"] {
    --body: #38383b;
    --border: #242424;
    --text: #FFFFFF;
    --svg: 1;
    --link: white;
}
@font-face {
    font-family: "europa";
    src: url(Europa\ Regular.ttf);
}
body {
    background-color: var(--body);
    font-family: "europa";
    font-weight: 400;
    overflow-x: hidden;
}
.darkmode {
    filter: invert(var(--svg));
    transform: scale(1.5);
    position: sticky;
    width: 6vw;
}
.description {
    height: 70vh;
    width: 60vw;
    padding-top: 25vh;
    text-align: center;
}
.intro {
    font-weight: 700;
    color: var(--text);
}
.name {
    color: var(--intro);
    padding: 20px;
    margin-left: 5vw;
    font-size: 35px;
    font-weight: 600;
}
.name:hover {
    color: var(--intro);
}
.nav-link {
    color: var(--link);
    margin-right: 22px;
    transition: ease-in-out 0.2s;
}
.nav-link:hover {
    color: var(--link);
    border-bottom: 1px solid black;    
}
.features {
    max-height: 7vw;
}
#me {
    max-width: 300px;
    margin-top: 6vh;
}
.container h2 {
    margin-top: 5vh;
    font-size: 35px;
}
.container h4 {
    margin-top: 5vh;
}
.container p {
    margin-top: 5vh;
    text-align: left;
}
.contribute {
    margin-top: 50vh; 
    margin-bottom: 10vh;
}
.reveal {
    opacity: 0;
}
.active {
    animation: active 0.2s ease-out;
    transition: all 0.2s ease-out;
    opacity: 1;
} 
@keyframes active {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
