:root {
    --body: #FFFFFF;
    --background: #BBBBBB;
    --text: #111111;
    --svg: 0;
    --link: #111111;
}
[theme="dark"] {
    --body: #161616;
    --border: #242424;
    --text: #FFFFFF;
    --svg: 1;
    --link: white;
    --intro: #fad643;
}
@font-face {
    font-family: "europa";
    src: url(Europa\ Regular.ttf);
}
body {
    background-color: var(--body);
    font-family: europa;
    font-weight: 400;
}
svg {
    filter: invert(var(--svg));
}
.main {
    height: 70vh;
    width: 60vw;
    padding-top: 25vh;
    text-align: center;
    color: var(--intro);
}
.name {
    color: var(--intro);
}
.name:hover {
    color: var(--intro);
}
.nav-link{
    color: var(--link);
    transition: ease-in-out 0.1s;
    margin-right: 15px;
}
.nav-link:hover {
    color: var(--link);
    border-bottom: 1px solid black;    
}
.features {
    max-height: 7vw;
}
.container h2 {
    margin-top: 20vh;
    margin-bottom: 10vh;
}
.container h4 {
    margin-top: 5vh;
}
.row {
    height: 20vh;
}
.reveal {
    opacity: 0;
}
.active {
    animation: fadein 0.3s ease-out;
    opacity: 1;
}
@keyframes fadein {
    from {
        opacity: 0%;
        transform: translateY(100px);
    }
    to {
        opacity: 100%;
        transform: translateY(0px);
    }
}
.navbar {
    padding: 6vh 3vw;
}
.h1 {
    font-size: 35px;
}
